/* App.css */

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.center_div {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem;
  color: #007bff; /* Heading text color */
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold text */
  margin-bottom: 20px; 
}

input[type="text"] {
  flex:1;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.todo-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  list-style: none;
}

.fa-trash {
  color: #ff0000;
  cursor: pointer;
  margin-right: 10px;
}
